@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--text-black);
  font-family: "Lato", sans-serif;
}

:root {
  --main-color: hsl(176, 88%, 27%);
  --main-color-alt: hsl(129, 42%, 94%);
  --secondry-color: hsl(34, 94%, 87%);
  --background-color: hsl(0, 0%, 100%);
  --background-color-alt: hsl(0, 0%, 93%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --text-black: hsl(0, 0%, 0%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: hsl(113, 15%, 90%);
  --item-color: hsl(0, 0%, 95%);

  --Second-font: "Noto-sans", sans-serif;
  --big-font-size: 3.5rem;
  --small-font-size: 0.875rem;
  --tiny-size: 0.6rem;
  --h1-size: 2.75rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --normal-size: 1rem;
}

/* ========== Commmon Css ============= */

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 85vw;
  padding-inline: 0.75rem;
  margin-inline: auto;
  overflow: hidden;
}

input,
textarea,
button {
  outline: none;
  border: none;
  font-size: var(--normal-size);
}

img {
  width: 100%;
}

p {
  line-height: 1.5rem;
}

.flex {
  display: flex;
  column-gap: 1.5rem;
}

.grid {
  display: grid;
  column-gap: 1.5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--main-color);
  background-color: transparent;
}

.deals-btn {
  color: var(--main-color);
  background-color: transparent;
}

.deals-btn:hover {
  color: var(--background-color);
  background-color: var(--main-color);
}

.section {
  padding-block: 2rem;
}

.section-lg {
  padding-block: 4rem;
}

.section-tittle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-tittle span {
  color: var(--main-color);
}

/* ============= Navbar ================== */

.top-header {
  background-color: var(--main-color-alt);
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 2px var(--main-color);
}

.header-coupons {
  color: var(--text-color);
  font-size: var(--normal-size);
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.header {
  width: 100vw;
  padding-bottom: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
.navbar-container,
.nav-lists,
.nav-search,
.nav-user-action {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.navbar-container {
  width: 60vw;
  justify-content: space-between;
}

.nav-logo {
  width: 10rem;
}

.nav-link {
  color: var(--text-black);
  font-weight: 600;
}

.active-link,
.nav-link:hover {
  color: var(--main-color);
}

.nav-search {
  position: relative;
  width: 18rem;
}

.nav-search .form-input {
  padding-inline: 0.75rem 3rem;
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--main-color);
  border-radius: 0.25rem;
}

.nav-search img {
  position: absolute;
  cursor: pointer;
  right: 0.75rem;
  width: 2.2rem;
}

.header-action-btn {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.header-action-btn .count {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: var(--tiny-size);
  border-radius: 50%;
  color: var(--background-color);
  background-color: var(--main-color);
}

.responce-user {
  display: none;
}

/*  ============== Home ===============  */

.home-container {
  grid-template-columns: 5fr 5fr;
  align-items: center;
}

.home-tittle {
  font-family: var(--Second-font);
  color: var(--text-color-light);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: block;
}

.home-content {
  font-size: var(--h1-size);
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.home-content span {
  font-size: var(--big-font-size);
  display: block;
  color: var(--main-color);
  font-weight: 800;
}

.home-description {
  font-size: var(--normal-size);
  color: var(--text-color-light);
  font-weight: 500;
  margin: 0.5rem 0 1.5rem 0.5rem;
}

.home-right {
  height: 25rem;
  width: 100%;
}

.home-right img {
  height: 100%;
  width: 100%;
}

/* ============== Categories =============== */

.categories {
  overflow: hidden;
}

.category-item {
  padding: 0.625rem 0.625rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  text-align: center;
}

.category-item img {
  border-radius: 0.5rem;
  background-color: var(--item-color);
  margin-bottom: 1rem;
}

.category-item h3 {
  font-size: var(--normal-size);
}

/* swiper */

.swiper {
  overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: -2rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--main-color-alt);
  border: 1px solid var(--border-color);
}

.swiper-button-prev {
  left: initial;
  right: 2.8rem;
}

/* ============== Products =============== */

.tab-btn {
  padding: 0.725rem 1.5rem;
  color: var(--text-color);
  background-color: var(--item-color);
  border-radius: 0.25rem;
  font-family: var(--Second-font);
  font-size: var(--normal-size);
  font-weight: 600;
  cursor: pointer;
}

.tab-btn.active-tab {
  color: var(--main-color);
  background-color: var(--secondry-color);
}

.tab-item:not(.active-tab) {
  display: none;
}

.tab-items {
  margin-top: 2rem;
}

.products-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-item {
  border: 1px solid var(--border-color);
  border-radius: 1.25rem;
}

.product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-banner {
  position: relative;
  padding: 0.625rem 0.75rem 0.75rem;
}

.product-images {
  display: block;
  overflow: hidden;
  border-radius: 0.875rem 0.875rem 0 0;
}

.product-item:hover .product-img {
  transform: scale(1.1);
}

.product-img {
  height: 15rem;
  transition: all 0.4s ease;
}

.product-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  top: 7%;
  right: 9%;
}

.product-actions img,
.product-content img {
  height: 1.2rem;
  width: 1.2rem;
}

.product-item:hover .action-btn,
.action-btn:hover::after,
.action-btn:hover::before {
  opacity: 1;
}

.action-btn {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.2rem;
  border: 1px solid var(--border-color);
  background-color: var(--main-color-alt);
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
}

.action-btn::after,
.action-btn::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.action-btn::before {
  content: "";
  top: -2px;
  right: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid transparent;
  border-top-color: var(--main-color);
}

.action-btn::after {
  content: attr(aria-label);
  bottom: 100%;
  color: #fff;
  background-color: var(--main-color);
  font-size: var(--tiny-size);
  font-weight: 600;
  white-space: nowrap;
  border-radius: 0.5rem;
  line-height: 2;
  letter-spacing: 0.5px;
  padding: 0.2rem 0.5rem;
}

.product-badge {
  position: absolute;
  font-size: var(--tiny-size);
  font-weight: 800;
  letter-spacing: 1px;
  top: 7%;
  left: 7%;
  padding: 0.2rem 0.5rem;
  border-radius: 0.75rem;
}

.light-orange {
  background-color: hsl(24, 100%, 73%);
}

.light-green {
  background-color: hsl(155, 20%, 67%);
}

.light-pink {
  background-color: hsl(341, 100%, 73%);
}

.light-blue {
  background-color: skyblue;
}

.product-content {
  padding: 0.625rem 0.75rem 0.75rem;
  position: relative;
}

.product-category {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.product-content a {
  font-size: var(--normal-size);
  display: block;
  margin-block: 0.25rem;
}

.product-rating img {
  height: 1rem;
  width: 1rem;
}

.product-price {
  align-items: center;
  margin-top: 0.75rem;
}

.new-price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}

.old-price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-light);
  text-decoration: line-through;
}

.cart-btn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.2rem;
  line-height: 2rem;
  opacity: 1;
}

/* ============== Deals =============== */

.deals-container {
  grid-template-columns: repeat(3, 1fr);
}

.deals-item {
  height: 15rem;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid grey;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  align-items: center;
  transition: 0.2s ease;
}

.deals-item:hover {
  scale: 0.975;
}

.deals-text h3 {
  font-size: var(--Second-font);
  font-size: var(--h3-size);
  text-transform: capitalize;
}

.deals-text p {
  font-size: var(--normal-size);
  color: var(--text-color-light);
  margin-block: 1rem;
  font-weight: 500;
}

.deals-img {
  height: 80%;
  width: 70%;
}

.deals-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

/* ============== New Arrivals =============== */

.new-arrivals {
  overflow: hidden;
}

/* ============== Show-Case =============== */

.showcase-container {
  grid-template-columns: repeat(4, 1fr);
}

.showcase-wrapper {
  width: calc((85vw / 4) - 32px);
}

.showcase-tittle {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--border-color-alt);
  position: relative;
  margin-bottom: 2rem;
}

.showcase-tittle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 3.5rem;
  border-radius: 1rem;
  background-color: var(--main-color);
}

.showcase-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}

.showcase-img {
  height: 5rem;
  width: 5rem;
}

.showcase-content {
  width: calc(100% - 96px);
}

.showcase-content h4 {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.showcase-newprice {
  color: var(--main-color);
  font-weight: 600;
}

.showcase-oldprice {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--text-color-light);
  text-decoration: line-through;
}

/* ============== Newsletter ===============  */

.newsletter {
  background-color: var(--main-color-alt);
  padding-block: 1rem;
}

.newsletter-container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-inline: 0;
}

.newsletter-tittle {
  align-items: center;
  gap: 1rem;
}

.newsletter-icon {
  width: 2rem;
}

.newsletter-description {
  font-weight: 600;
  color: var(--text-color-light);
}

.newsletter-form {
  gap: 0.25rem;
  align-items: center;
}

.newsletter-input {
  font-size: var(--normal-size);
  padding: 0.625rem 0.8rem;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid var(--border-color);
}

.newsletter-input:focus {
  border: 1px solid var(--main-color);
}

.subscribe-btn {
  padding: 0.5rem 0.75rem;
}

/* ============== Footer =============== */

.footer-container {
  grid-template-columns: 4.5fr repeat(2, 2.5fr) 3fr;
}

.footer-logo img {
  height: 2.75rem;
  width: 10rem;
}

.footer-subtittle {
  margin-block: 1rem;
  color: var(--text-color-light);
}

.footer-description {
  margin-bottom: 0.75rem;
}

.footer-social {
  margin-top: 1.5rem;
}

.social-subtittle {
  margin-bottom: 1rem;
}

.footer-social-icon {
  opacity: 0.7;
  width: 2rem;
}

.footer-tittle {
  margin-bottom: 2rem;
}

.footer-link {
  color: var(--text-color-light);
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: var(--main-color);
  margin-left: 0.25rem;
}

.footer-bottom {
  justify-content: space-between;
  padding-block: 1.2rem;
  border-top: 1px solid var(--border-color);
}

.footer-bottom p {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  font-weight: 600;
}

/* ################################################
                        Shop
##################################################*/

.breadcrumb {
  margin-block: 1rem;
  padding-block: 1rem;
  background-color: var(--item-color);
}

.breadcrumb-list {
  column-gap: 1rem;
}

.breadcrumb-link {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--text-color-light);
}

.breadcrumb-link:hover {
  color: var(--main-color);
}

.shop-products {
  margin-block: 2.5rem;
}

.shop-tittle span {
  color: var(--main-color);
}

.pagination-link {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--text-color-light);
}

.active-page,
.pagination-link:hover {
  background-color: var(--main-color-alt);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

/* ################################################
                        Details
##################################################*/

.details-container {
  grid-template-columns: 5fr 6fr;
}

.details-small-images {
  grid-template-columns: repeat(4, 1fr);
}

.details-small-img {
  height: 7.75rem;
  border-radius: 0.25rem;
}

.details-img {
  margin-bottom: 1rem;
  height: 36.5rem;
  border-radius: 0.5rem;
}

.details-tittle {
  font-size: var(--h2-size);
}

.details-brand {
  margin-block: 1.5rem;
  padding-block: 0.75rem;
  font-weight: 600;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.details-brand span {
  color: var(--main-color);
}

.short-description {
  letter-spacing: 0.5px;
  line-height: 1.75rem;
}

.product-list {
  margin-block: 3rem;
}

.list-item {
  margin-bottom: 1rem;
  align-items: center;
}

.list-item img {
  width: 2rem;
}

.details-price {
  margin-bottom: 2rem;
}

.details-size-tittle {
  font-weight: 700;
}

.size-list {
  margin-top: 0.75rem;
}

.size-link {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 0.25rem;
}

.active-size,
.size-link:hover {
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
}

.details-action {
  margin-block: 3rem;
  align-items: center;
}

.quentity-container span {
  background-color: #fff;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  user-select: none;
  border: 0.5px solid var(--border-color-alt);
}

.quentity-container .num {
  border-radius: 0.2rem;
  font-size: 1rem;
}

.quantity {
  width: 4rem;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.details-action-btn img {
  width: 2.5rem;
}

/* ============== Details Tab =============== */

.detail-tabs {
  margin-bottom: 3rem;
}

.detail-tab {
  font-family: var(--Second-font);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.detail-tab.active-detail {
  color: var(--main-color);
}

.details-tab-content:not(.active-tab) {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.info-table tr th,
.info-table tr td {
  border: 1px solid var(--border-color);
  padding: 0.625rem 1.25rem;
}

.info-table tr th {
  text-align: left;
}

.info-table tr td {
  color: var(--text-color-light);
}

.reviews-container {
  padding-bottom: 3rem;
  row-gap: 1.5rem;
}

.review-single {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding-block: 0.75rem 1.25rem;
  border-bottom: 1px solid var(--border-color-alt);
}

.review-user {
  text-align: center;
}

.review-img {
  width: 3rem;
  margin-bottom: 0.5rem;
}

.review-tittle {
  font-size: var(--small-font-size);
}

.review-rating {
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.review-rating img {
  width: 1rem;
}

.review-description {
  font-size: 1.2rem;
}

.review-date {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.review-form-tittle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.textarea {
  height: 15rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  resize: none;
}

.details-products {
  overflow: hidden;
}

/* ################################################
                        Add to cart
##################################################*/

.cart {
  background-color: var(--background-color);
}

.cart-container {
  grid-template-columns: 7fr 3fr;
}

.cart-items-container {
  position: relative;
}

.cart-items {
  grid-template-columns: 1.5fr 7fr;
  column-gap: 2rem;
  padding: 0.75rem 1rem;
  border: 0.5px solid var(--border-color);
  margin-bottom: 0.25rem;
  background: var(--background-color);
}

.cart-img-container {
  text-align: center;
}

.cart-img {
  height: 8.5rem;
  margin-bottom: 0.75rem;
}

.cart-description {
  justify-content: space-between;
}

.description-color {
  font-size: var(--normal-size);
  font-weight: 600;
  color: var(--text-color-light);
  margin-block: 0.75rem 1rem;
}

.cart-seller {
  font-weight: 600;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.cart-action {
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.cart-item-delete {
  width: 2rem;
}

.card-order-container {
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border: 0.75px solid var(--border-color);
}

.card-order {
  position: relative;
  height: 5rem;
  width: 100%;
  padding-block: 0.5rem;
  background-color: var(--background-color);
}

.place-order {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  padding: 0.75rem 2rem;
  background-color: var(--main-color);
}

.place-order p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-price-title {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: var(--text-color-light);
  border: 0.5px solid var(--border-color);
  background-color: var(--background-color);
}

.card-price-details {
  font-size: 1rem;
  font-size: 1.1rem;
  padding: 1.5rem;
  border: 0.5px solid var(--border-color);
  background-color: var(--background-color);
}

.card-price-details hr {
  border-style: dashed;
  color: rgba(0, 0, 0, 0.2);
}

.cart-price-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.cart-price-item p {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.cart-price-item span {
  font-weight: 600;
  color: var(--main-color);
}

.cart-price {
  color: var(--text-color-light);
  text-decoration: line-through;
}

.cart-price span {
  display: inline-block;
  text-decoration: none;
}

.cart-price-total {
  font-weight: 600;
  margin-block: 1.2rem;
  justify-content: space-between;
}

.cart-saves {
  display: block;
  margin-top: 1.2rem;
  font-size: var(--normal-size);
  font-weight: 600;
}

.card-price-details span {
  color: var(--main-color);
}

.cart-secure-msg {
  margin-top: 2rem;
  gap: 0.5rem;
}

.cart-secure-msg img {
  width: 3rem;
}

.cart-secure-msg h4 {
  color: var(--text-color-light);
}

/* ################################################
                        Wishlist
##################################################*/

.cart-title {
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background: var(--background-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.wishlis-items {
  grid-template-columns: 1fr 8fr;
}

.wishlist-img img {
  height: 7rem;
}

.wish-description {
  align-items: center;
}

.wishlist-action {
  gap: 0.75rem;
}

/* ################################################
                        Login & Register
##################################################*/

.login {
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--main-color-alt);
  margin-bottom: 3rem;
  min-height: 55vh;
  width: 100%;
  align-items: center;
  border: 1px solid var(--border-color);
}

.login-content {
  justify-self: center;
}

.login-content-title {
  color: var(--main-color);
  font-size: var(--h3-size);
}

.login-content-heading {
  font-size: var(--big-font-size);
  margin-block: 25% 35%;
}

.login-content p {
  color: var(--text-color-light);
}

.login-action {
  justify-self: center;
}

/* -------- login-action --------- */

.login-form {
  background-color: var(--background-color);
}

.login-action {
  padding-block: 1rem;
  width: 55%;
  margin-inline: auto;
}

.form-title {
  text-align: center;
  font-size: var(--h2-size);
}

.login-action-form {
  margin-block: 2rem;
  flex-direction: column;
  gap: 1.5rem;
}

.login-action-form input {
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  width: 100%;
  font-size: var(--normal-size);
  border-radius: 0.2rem;
  border: 0.5px solid var(--border-color-alt);
}

.login-action-form input:focus {
  border: 0.5px solid var(--border-color);
}

.login-action-form #remember {
  display: inline;
  width: auto;
}

.login-action-form #terms1 {
  display: inline;
  width: auto;
}

.log-forget {
  align-items: center;
  justify-content: space-between;
}

.login-forgot {
  color: var(--main-color);
  font-size: var(--small-font-size);
  font-weight: 600;
}

.login-forgot:hover {
  color: #000;
}

.login-btn {
  width: 100%;
  text-align: center;
}

.after-loginform {
  text-align: center;
}

.after-loginform p {
  font-size: 1.2rem;
  font-weight: 600;
}

.after-loginform a {
  display: inline-block;
  margin-top: 0.75rem;
  color: var(--main-color);
  font-weight: 600;
  transition: all 0.3s ease;
}

.after-loginform a:hover {
  transform: scale(1.2);
}

.social-login {
  text-align: center;
}

/* -------- registration-action --------- */

.terms {
  color: var(--main-color);
  font-weight: 600;
}

.social-login {
  margin-block: 2rem 1.5rem;
}

.social-login p {
  position: relative;
}

.social-login span {
  color: var(--text-color-light);
}

.social-login span::before,
.social-login span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.social-login span::before {
  top: 50%;
  left: 0;
}

.social-login span::after {
  top: 50%;
  right: 0;
}

.login-social {
  margin-top: 0.75rem;
  justify-content: center;
}

.login-social i {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.login-social i:hover {
  transform: scale(1.2);
}

.login-social .google {
  color: rgba(255, 0, 0, 0.5);
}

.login-social .facebook {
  color: rgb(0, 110, 255);
}

.login-social .twitter {
  color: rgb(0, 162, 255);
}

/* ---- js part ---- */

.signup:not(.login-display) {
  display: none;
}

.login-display .signup {
  display: block;
}

.login-display .log-section {
  display: none;
}

/* ################################################
                        Checkout
##################################################*/

.checkout-container {
  grid-template-columns: 7fr 5fr;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 0;
  column-gap: 0;
}

.checkout-billing {
  text-align: center;
}

.billing-tabs {
  gap: 0;
  justify-content: space-around;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.billing-tab-btn {
  width: 100%;
  font-size: var(--normal-size);
  font-weight: 600;
  padding-block: 1rem;
  cursor: pointer;
}

.billing-tab-btn.active-tab {
  display: block;
  color: var(--main-color);
  background-color: var(--main-color-alt);
}

/* -------- Shipping --------- */

.shipping-address,
.payment-card-m {
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.billing-tab:not(.active-tab) {
  display: none;
}

.address {
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  row-gap: 0.8rem;
}

.address input,
.form-select {
  padding: 0.5rem 1rem;
  border: 0.5px solid var(--border-color-alt);
  background-color: var(--background-color-alt);
  border-radius: 0.25rem;
}

.delivery-point {
  grid-column: 1/3;
  border-radius: 0.25rem;
}

.delivery-btn {
  margin-top: 1rem;
}

/* -------- Payments --------- */

.payment-tab-btn {
  display: block;
  cursor: pointer;
}

.payment-tab-btn.active-btn {
  display: block;
  border-width: 100%;
  border-bottom: 2px solid var(--main-color);
}

.payment-tab-btn img {
  height: 3rem;
}

.payment-tab.active-btn {
  display: block;
}

.payment-tab:not(.active-btn) {
  display: none;
}

.payment-card-m,
.payment-upi-m {
  width: 55%;
  margin-inline: auto;
}

.payment-card-details {
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.payment-card-details input {
  padding: 0.5rem 1rem;
  border: 0.5px solid var(--border-color-alt);
  background-color: var(--background-color-alt);
  border-radius: 0.25rem;
}

.pay-now {
  margin-top: 1.25rem;
}

/* -------- UPI Payments --------- */

.payment-upi-m {
  margin-top: 1rem;
  text-align: left;
}

.upi-details {
  margin-top: 0.75rem;
}

.upi-links {
  margin-block: 0.75rem 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.upi-first-container {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.upi-first-link {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.upi-first-link img {
  width: 2rem;
}

.upi-first-link p {
  font-weight: 600;
}

.upi-pay {
  margin-top: 1rem;
  padding: 0.4rem 0.75rem;
  display: none;
}

.upi-pay.active-pay {
  display: block;
}

.upi-first-container input[type="text"] {
  padding: 0.2rem 0.5rem;
  border: 0.5px solid var(--border-color);
  border-radius: 0.25rem;
  display: none;
}

/* -------- Checkout - Items --------- */

.checkout-items {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--background-color-alt);
}

.checkout-description {
  max-width: 75%;
  margin-inline: auto;
}

.checkout-title h3 {
  font-size: var(--h3-size);
}

.checkout-items-qty {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  font-weight: 600;
}

.checkout-item {
  margin-top: 0.75rem;
  align-items: center;
}

.checkout-item img {
  width: 5rem;
}

.chcekout-products {
  padding-bottom: 1rem;
}

.checkout-product-details {
  margin-top: 1rem;
  justify-content: space-between;
  font-size: var(--small-font-size);
}

.checkout-product-price {
  font-weight: 600;
  color: var(--main-color);
}

.checkout-products-total {
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0.75rem;
}

/* ################################################
                        Accounts
##################################################*/

.account-container {
  grid-template-columns: 3fr 7fr;
  column-gap: 3rem;
}

.tab-content {
  border: 1px solid var(--border-color-alt);
  border-radius: 0.5rem;
}

.account-tab {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.55rem;
  cursor: pointer;
}

.account-tab.active-tab {
  color: var(--background-color);
  background-color: var(--main-color);
}

.account-tab.active-tab i {
  color: var(--background-color);
}

.account-tab:not(.active-tab) {
  border: 1px solid var(--border-color-alt);
}

.tab-header {
  padding: 0.75rem 1rem;
  background-color: var(--background-color-alt);
}

.tab-body {
  padding: 2rem 1rem;
}

.tab-body p {
  line-height: 2rem;
  letter-spacing: 1px;
}

.tab-content:not(.active-tab) {
  display: none;
}

.account-order,
.account-wishlist {
  grid-template-columns: 3fr 1fr 1fr 2fr;
  padding-block: 1rem 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--background-color-alt);
}

.account-order-content {
  border: none;
  column-gap: 1rem;
}

.account-order-img img {
  height: 4rem;
  width: 4rem;
}

.account-order-description p {
  line-height: normal;
  font-size: var(--small-font-size);
}

.account-wishlist {
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
}

.account-wishlist-content {
  align-items: center;
}

.tab-body input {
  display: block;
  width: 70%;
  border-radius: 0.25rem;
  font-size: var(--normal-size);
  padding: 0.75rem 1rem;
  border: 1px solid var(--border-color-alt);
  margin-bottom: 1rem;
}

.account-address {
  padding-left: 1rem;
}

.address-btn {
  display: block;
  margin-top: 1rem;
  padding-left: 1rem;
  color: var(--main-color);
  font-weight: 600;
}

/* ============ scrollbar ============ */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--item-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0.75rem;
}
